@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #000000, #ff0000, #c303ee);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgb(80, 80, 80);
  padding: 6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 darkgrey;
}

form {
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 300px;
  height: 400px;
}




input[type="text"], input[type="password"] {
  border: none;
  margin-top: 40px;
  border-radius: 60px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
}

.button[type="submit"] {
  background: linear-gradient(to right, #ff966d, #fa538d, #89379c);
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
}

.divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
}

#signin {
  left: 25px;
}


i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

.design .pill-1 {
  bottom: 0;
  left: -40px;
  position: absolute;
  width: 80px;
  height: 200px;
  background: linear-gradient(#ff966d, #fa538d, #89379c);
  border-radius: 40px;
}

.design .pill-2 {
  top: -100px;
  left: -80px;
  position: absolute;
  height: 450px;
  width: 220px;
  background: linear-gradient(#ff966d, #fa538d, #89379c);
  border-radius: 200px;
  border: 30px solid #e2c5e2;
}

.design .pill-3 {
  top: -100px;
  left: 160px;
  position: absolute;
  height: 200px;
  width: 100px;
  background: linear-gradient(#ff966d, #fa538d, #89379c);
  border-radius: 70px;
}

.design .pill-4 {
  bottom: -180px;
  left: 220px;
  position: absolute;
  height: 300px;
  width: 120px;
  background: linear-gradient(#ff966d, #fa538d);
  border-radius: 70px;
}
